@model library_management.Models.Member;
@{
    Layout = "/Views/Shared/_Layout.cshtml";

    // Layout = null;

    ViewData["Title"] = "Forgot Password";
}
<link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/assets/css/sb-admin-2.min.css" rel="stylesheet">

<html lang="en">
<head>
    @* <title>Register for CSMS</title> *@
    <style>
        label.error {
            color: red !important;
        }
    </style>
    <style>
        .bg-login-left {
            /* background-image: url('/images/.png'); */
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            /* padding: 20px; /* 👈 thoda image andar aayega */ */ padding: 40px 20px 40px 20px; /* top right bottom left */
        }
    </style>
</head>
<body>

    <form id="forgotPassword">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block p-0">
                                    <img src="/images/forgot-password.png" class="img-fluid h-100 w-100" style="object-fit: contain;" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                            <p class="mb-4">
                                                We get it, stuff happens. Just enter your email address below
                                                and we'll send you a link to reset your password!
                                            </p>
                                        </div>
                                       
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                <input type="email" class="form-control form-control-user"
                                                       asp-for="Email" aria-describedby="emailHelp"
                                                       placeholder="Enter Email Address..."></div>
                                            </div>
                                            <div class="form-login">
                                            <button type="submit" id="btnSubmit" class="btn btn-primary btn-user btn-block">Send Link</button>
                                            </div>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" asp-action="Register">Create an Account!</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" asp-action="login">Already have an account? Login!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>



@section Scripts {
    <script src="~/libraryjs/forgotpassword.js"></script>

    <script src="~/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/assets/js/sb-admin-2.min.js"></script>
}