@model library_management.Models.Member;
@{
    Layout = "/Views/Shared/_Layout.cshtml";

    // Layout = null;

    ViewData["Title"] = "Reset Password";
}
<link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/assets/css/sb-admin-2.min.css" rel="stylesheet">

<html lang="en">
<head>
    <title>Register for WMS</title>
    <style>
        label.error {
            color: red !important;
        }
    </style>
</head>
<body class="account-page">


    @* <form id="ResetPassword"> *@
    @*     <div class="form-login"> *@
    @*         <label>Password</label> *@
    @*         <div class="form-addons"> *@
    @*             <input type="text" asp-for="Password" placeholder="Enter your Password"> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="form-login"> *@
    @*         <label>Password</label> *@
    @*         <div class="pass-group"> *@
    @*             <input type="text" asp-for="Confirmpassword" class="pass-input" placeholder="Enter your Confirm password"> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="form-login"> *@
    @*         <button type="submit" id="btnSubmit" class="btn btn-login">Change Password</button> *@
    @*     </div> *@
    @* </form> *@


    <form id="ResetPassword" method="post" >
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                <input type="text" class="form-control form-control-user"
                                                       asp-for="Password"
                                                       placeholder="Enter Password ...">
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                <input type="text" class="form-control form-control-user"
                                                       asp-for="Confirmpassword"
                                                       placeholder="Enter Confirm Password ...">
                                            </div>
                                        </div>

                                        <div class="form-login">
                                                <button type="submit" id="btnSubmit" class="btn btn-primary btn-user btn-block">Change password</button>
                                        </div>
                                    </form>
                                    <hr>
                                        <div class="text-center">
                                        <a class="small" asp-action="login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </form>




    @section Scripts {
        <script src="/libraryjs/login.js"></script>
        <script src="~/assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/assets/js/sb-admin-2.min.js"></script>
    }
</body>
</html>