@model List<library_management.Models.Membership>

<h2>Pending Membership Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>Member Name</th>
            <th>Library</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membership in Model)
        {
            <tr>
                <td>@membership.Member.Name</td>
                <td>@membership.Library.Libraryname</td>
                <td>
                    <form method="post" asp-controller="AdminMaster" asp-action="ApproveMembership" class="d-inline-block">
                        <input type="hidden" name="id" value="@membership?.MembershipId" />
                        <button type="button" class="btn btn-success approveMembership" data-id="@membership.MembershipId">Approve</button>
                    </form>

                    <form method="post" asp-controller="AdminMaster" asp-action="RejectMembership" class="d-inline-block">
                        <input type="hidden" name="id" value="@membership?.MembershipId" />
                        <button type="button" class="btn btn-danger rejectMembership" data-id="@membership.MembershipId" onclick="return confirm('Are you sure you want to reject this membership?');">Reject</button>
                         
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        <script src="~/memberportal/approvereject.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
}
